@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .hoverEffect {
    @apply duration-300 hover:text-primary hover:scale-110;
  }
  .sectionPadding {
    @apply pt-16;
  }
    }
  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    html {
      scroll-behavior: smooth;
    }

